@keyframes heart {
  0%{
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }

  100%{
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }
}

.location {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: $grey;
  font-size: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 25%);

  .fa-location-dot {
    margin-right: 16px;
  }

  span {
    font-weight: bold;
  }
}

.exploration {
  padding: 40px 24px 70px 24px;
  text-align: center;
  background-color: $light-grey;

  h2 {
    margin: 0;
  }

  p {
    margin-bottom: 30px;
    font-weight: lighter;
  }

  a {
    cursor: pointer;
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    color: white;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25%);
    text-decoration: none;

  }

  a:hover {
    background-image: linear-gradient(0deg,rgba(169, 105, 247, 0.9),rgba(255, 156, 227, 0.9));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 50%);

  }

}

.operation {
  padding: 32px 16px 24px 16px;

  &-title {
    margin: 0;
  }

  &-list {
    list-style-type: none;
    padding-left: 0px;

    &-item {
      position: relative;
      padding: 20px 13px 0 13px;
      margin: 20px 10px;
      height: 40px;
      background-color: whitesmoke;
      border-radius: 15px;
      box-shadow: 0px 5px 10px 0px gainsboro;


      &-step {
        position: absolute;
        left: -10px;
        padding-top: 5px;
        width: 23px;
        height: 20px;
        border-radius: 50px;
        text-align: center;
        font-size: 0.9em;
        color: #fff;
        background-color: $purple;
      }

      &-icon {
        margin: 0 25px;
        font-size: 20px;
        color: #646464;
      }
    }

    &-item:hover {
      background-color: rgba(147, 86, 220, 0.1);

      .operation-list-item-icon {
        color: $purple;
      }
    }

  }

}

.restaurants {
  background-color: $grey;
  padding: 32px 16px 24px 16px;

  .restaurant {
    position: relative;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px gainsboro;
    background-color: white;

    &-card {
      color: #000;
      text-decoration: none;

      &-photo {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
      }

      &-promo {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100px;
        padding: 5px;
        color: #0c6b50;
        background: #99E2D0;
        border-radius: 3px;
        text-align: center;
      }

      &-menu {
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        padding-bottom: 10px;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
      }

      &-coeur {
        position: absolute;
        bottom: 15px;
        right: 10px;

        .fa-regular {
          font-size: 25px;
          margin-right: 25px;
        }

        .fa-solid {
          font-size: 25px;
          margin-right: 25px;
          opacity: 0;
          position: absolute;
        }

        .fa-solid:hover {
          animation: heart 500ms ease-in forwards;
        }
      }
    }
  }
}