nav {  
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  position: relative;
  display: flex;
  align-items: center;

  i {
    display: block;
    font-size: 28px;
    margin: 0px -50px 0px 25px;
    color: $dark-grey;
  }

  img {
    display: block;
    margin: 0px auto;
    padding: 25px;
  }
}