@import "./utils/variables";

@import "./base/fonts";

@import "./layout/navbar";
@import "./layout/footer";

@import "./pages/home";
@import "./pages/restaurant";

@import "./responsive/home";
@import "./responsive/restaurant";


@import "./vendors/normalize";





// Heart animation
@keyframes heartAnimation {
  0%{
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }

  100%{
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }
}

// Homepage animation
@keyframes spinnerAnimation {
  0% {
    width: 0px;
    height: 0px;
    transform: rotate(360deg)
  }

  1% {
    width: 80px;
    height: 80px;
  }

  99% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 0vh;
    height: 0vh;
  }
}

@keyframes hideSpinnerAnimation {
  0% {
    z-index: 10;
    opacity: 0.8;
  }

  90% {
    z-index: 10;
    opacity: 0.8;
  }

  100% {
    z-index: -10;
    opacity: 0;
  }
}

// Restaurant page anaiamtions
@keyframes itemAppearanceAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes itemCheckedAnimation {
  to {
    transform: rotate(360deg);
  }
}